<form action="/articles" method="POST">
  New Article <br>
  Title: <input type="text" name="title"><br>
  Content: <input type="text" name="content"><br>
  <input type="submit" value="Submit">
</form>